html {
    scroll-behavior: smooth;
    
}
body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Inconsolata', monospace; */
    position: relative;
    overflow-y: auto;
    /* padding-top: 100px;  */
    color: #19283e;
}
.bg-light {
    background-color: white !important; 
}
.page {
    height: 1000px;
    overflow-y: auto;
}
.page:before{
    height: 110px;
    content: "";
    display:block;
}
.navbar-brand, .nav-item{
    font-family: 'Inconsolata', monospace;
    /* font-weight: 1000 !important;  */
    /* font-weight: bolder; */
}
.nav-link.active, .nav-link:hover {
    color: #EB6E80!important;
}
#main-navbar {
    /* opacity: 0.3; */
}
/* pages */
#aboutme {
    background-color: #EB6E80;
}
#aboutme .btn:hover {
    color:#EB6E80;
}
#aboutme .btn {
    border-radius: 35px;
    padding: 10px 16px;
}
#myprojects {
    background-color: lightyellow;
}
#contact {
    background-color: #EB6E80;
}
#myskills {
    background-color:#00c4cf;
}
#roboticsautonomy{
    background-color:#c42033;
    color: whitesmoke;
}
#roboticsautonomy .btn:hover {
    color:#c42033;
}
#roboticsautonomy h2 span {
    background-color: white;
    color:#c42033;
}
#roboticsautonomy p {
    font-weight: lighter !important;
}
#androidproject {
    /* background-color: #f7941d; */
    /* background-color: #18d699; */
    background-color:#00bff3;
}
#androidproject .btn:hover {
    color:#00bff3 ;
}

#machinelearning {
    background-color: rgb(55, 127, 249);
}

#javaprojects{
    background-color: #f7941d;
}
#blockchain {
    background-color: rgb(13, 13, 13);
}
div > a.projects {
    background-color:white;
}
#hi {
    animation: typing 4s steps(13) infinite;
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
    border-right: 4px solid black;
    width: 13ch;
}
@keyframes typing {
    0% {
        width: 0ch;
    }
    100% {
        width: 13ch;
    }
}

#intro {
    padding-top: 10px;
}

#skillgraph {
    box-sizing: border-box;
    box-shadow: 3px 3px 5px;
    width: 100%;
    /* border: solid #5B6DCD 10px; */
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 30px;
}
.progress-bar {
    background-color: #00c4cf;
}

#javainfo {
    /* position: absolute; */
    background-color: white;
}

.keyskills {
    /* font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace; */
    font-family: 'Inconsolata', monospace;

}


@media (max-width: 576px) {
    .section1, .section3{
        display: none;        
    }
    .section2{
        width:100%;
    }
}
@media (min-width: 768px) { 
    .section1, .section3{
        position: relative;
        text-align: center;
        width: 5%;
        
    }
    .section2{
        width:90%;
    }
}
@media (min-width: 992px) { 
    .section1, .section3{
        position: relative;
        text-align: center;
        width: 3%;
        
    }
    .section2{
        width:94%;
    }
}
h2 {
    /* font-family: 'Inconsolata', monospace; */

}
.section3 a {
    /* position: static; */
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: fixed;
    top: 40%;
    color: #19283e;
}
#socialicons{
    
    position: fixed;
    top: 40%;
}
#socialicons a{
    color: #EB6E80;
}
#socialicons a:hover{
    color:black !important;
}

.btn-purple {
    color: #77448b;
    border-color: #77448b;
}

.btn-purple:hover {
    color:white;
    background-color: #77448b;
    
}

.btn-pink {
    color: #EB6E80;
    border-color: #EB6E80;
}

.btn-pink:hover {
    color:white;
    background-color: #EB6E80;
}

.projects.square.effect6 a {
    cursor: url('photos/cursor.png'),auto !important;
}
